<!DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag "style" %>
        <%= javascript_include_tag 'libs/prefixfree.min.js' %>

        <%= favicon_gen() %>

        <title><%= (current_page.data["title"] || "") + " @ The RR Wiki" || "Refined Relocation Wiki" %></title>

        <% if (current_page.data["recipes"] != nil && data[current_page.data["recipes"]]) %>
        <% content_str = data[current_page.data["recipes"]]["recipes"][0]["output"]["unlocalizedName"] + "|" + data[current_page.data["recipes"]]["recipes"][0]["output"]["meta"].to_s %>
        <META HTTP-EQUIV="Item" CONTENT="<%= content_str %>">
        <% end %>
    </head>
    <body>
        <div class="inner-body">
            <header>
                <% link_to '/index.html' do %>
                    <%= image_tag 'Refined-Relocation-Wiki-Banner.png', :class => 'rr-logo' %>
                <% end %>
            </header>
            <div class="content">
                <section class="toc">
                    <%= table_of_contents %>
                </section>
                <div class="text">
                    <%= current_page.data["notitle"] ? "" : '<h2>' + (current_page.data["title"] || "No title!") + '</h2>' %>
                    <%= yield %>
                    <% if (data[current_page.data.recipes] != nil) %>
                        <%= generate_recipes(data[current_page.data.recipes]) %>
                    <% end %>
                </div>
            </div>
        </div>
        <footer>
            <span class="float-left">Hosted by: <%= link_to("Pages", "http://pages.github.com", :class => 'github-pages-link') %></span>
            <span class="float-right">&copy; <%= link_to('RefinedRelocation', 'http://github.com/refinedrelocation', :class => 'copy_link') %> <%= Date.today.year %></span>
        </footer>
    </body>
</html>
